<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CharbroiledMemes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="30;url=http://127.0.0.1:5001" />
<!--    <style>-->
<!--        body {background-color:#000000;background-repeat:no-repeat;background-position:top-left;}-->
<!--    </style>-->
</head>
<body>
    <h1>A website to serve up some juicy, char-broiled memes.</h1>
    <p>Here is your meme! This will refresh in 30 seconds!</p>
    <p><img src="{{meme_pic}}"></p>
    <p>Courtesy of: {{subreddit}}</p>
</body>
</html>