<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Skills</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>
<body>
    <h1 style="text-align: center;">Update Skills</h1>
    <div>
        <table class="Skills-table">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <a class="sort-link" href="?sort_by=Skill&sort_order={{ 'asc' if sort_by != 'Skill' or sort_order == 'desc' else 'desc' }}">
                            Skill {% if sort_by == 'Skill' %}{{ '▲' if sort_order == 'asc' else '▼' }}{% endif %}
                        </a>
                    </th>
                    <th>
                        <a class="sort-link" href="?sort_by=Level&sort_order={{ 'asc' if sort_by != 'Level' or sort_order == 'desc' else 'desc' }}">
                            Level {% if sort_by == 'Level' %}{{ '▲' if sort_order == 'asc' else '▼' }}{% endif %}
                        </a>
                    </th>
                    <th>
                        <a class="sort-link" href="?sort_by=Priority&sort_order={{ 'asc' if sort_by != 'Priority' or sort_order == 'desc' else 'desc' }}">
                            Priority {% if sort_by == 'Priority' %}{{ '▲' if sort_order == 'asc' else '▼' }}{% endif %}
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for row in skills_df.itertuples() %}
                <tr>
                    <td><button class="dummy-button">></button></td>
                    <td>{{ row.Skill }}</td>
                    <td contenteditable="true" data-column="Level" data-Skill="{{ row.Skill }}" onfocus="makeEditable(this)" onblur="saveEdit(this, 'Level', '{{ row.Skill }}')">{{ row.Level }}</td>
                    <td contenteditable="true" data-column="Priority" data-Skill="{{ row.Skill }}" onfocus="makeEditable(this)" onblur="saveEdit(this, 'Priority', '{{ row.Skill }}')">{{ row.Priority }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div style="text-align: center;">
        <button onclick="window.location.href='{{ url_for('index') }}';">Go Back</button>
    </div>
</body>
</html>
